<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="{{ site.author }}" />
{% if page.description %}<meta name="description" content="{{page.description}}" />{% else %}<meta name="description" content="{{site.main_description}}" />{% endif %}
{% if page.kewords %}<meta name="keywords" content="{{page.keywords | join: ','}}" />{% else %}<meta name="keywords" content="{{site.main_keywords | join: ','}}" />{% endif %}
<link rel="canonical" href="{{ site.base_url }}{{ page.url | canonical_url }}" />
<meta name="robots" content="noodp, noydir" /> 
<link href="{{ site.base_url }}/feed/" rel="alternate" title="RSS Title" type="application/atom+xml" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
</head>
<body>
{% include topbar.html %}
<div class="site">
{% include nav.html %}
<div class="wrapper">
<div id="content">
{{ content }}
</div>
<div id="sidebar">
{% include sidebar.html %}
</div>
</div>
{% include footer.html %}
</div>
</div>

<!-- Insert jQuery CSS classes -->
<script type="text/javascript">
/* <![CDATA[ */
	$(document).ready(function() {
		$('.external').attr('target', '_blank');
		$('#booklist ul').addClass('post-list');
	});
/* ]]> */
</script>

<!-- Add analytics scripts here... -->

</body>
</html>